<div class="container">
    <header>
        <h1>Book List</h1>

        <form layout="row" layout-align="left center">
            <book-edit flex></book-edit>
            <i class="icon-send material-icons" ng-click="addItem(books, book); book='';">send</i>
        </form>
    </header>

    <ul>
        <li ng-repeat="book in books" layout="row" layout-align="left center">
            <i class="icon-edits material-icons" ng-click="books.remove(book)">clear</i>
            <div ng-if="book.edit" layout="row" layout-align="left center" flex>
                <book-edit flex></book-edit>
                <i ng-click="book.edit=false;books.save(book)" class="icon-edits material-icons">save</i>
            </div>
            <span ng-if="!book.edit">{{ book.name }} - {{ findItem(authors, book.authorId).name }}</span>
            <i ng-if="!book.edit" ng-click="book.edit=true" class="icon-edits material-icons">create</i>
        </li>
    </ul>
</div>
