<div class="container">
    <header>
        <h1>Book List</h1>

        <form ng-submit="addItem(books, book); book='';" layout="row">
            <md-input-container flex>
                <label>Book Name</label>
                <input name="name" ng-model="book.name">
            </md-input-container>

            <md-input-container flex>
                <label>Author Name</label>
                <md-select ng-model="book.authorId">
                    <md-option ng-repeat="author in authors" value="{{author._id}}">{{author.name}}</md-option>
                </md-select>
            </md-input-container>
        </form>
    </header>

    <ul>
        <li ng-repeat="book in books">
            <button class="delete" ng-click="books.remove(book)">&times;</button>
            <span>{{ book.name }} - {{ findItem(authors, book.authorId).name }}</span>
        </li>
    </ul>
</div>