<div layout="row" flex>
    <md-input-container flex>
        <label>Book Name</label>
        <input name="name" ng-model="book.name">
    </md-input-container>

    <md-input-container flex>
        <label>Pages</label>
        <input name="pages" type="number" ng-model="book.pages">
    </md-input-container>
        
    <md-input-container flex>
        <label>Publish Year</label>
        <input name="publishyear" type="number" ng-model="book.publishyear">
    </md-input-container>
    
    <md-input-container flex>
        <label>Price</label>
        <input name="price" type="number" ng-model="book.price">
    </md-input-container>
    
    <md-input-container flex>
        <label>Author Name</label>
        <md-select ng-model="book.authorId">
            <md-option ng-repeat="author in authors" value="{{author._id}}">{{author.name}}</md-option>
        </md-select>
    </md-input-container>
</div>
