<div class="container">
    <header>
        <h1>Copy List</h1>

        <form layout="row" layout-align="left center">
            <md-input-container flex>
                <label>Book Name</label>
                <md-select ng-model="copy.bookId">
                    <md-option ng-repeat="book in books" value="{{book._id}}">{{book.name}}</md-option>
                </md-select>
            </md-input-container>
            
            <i class="icon-send material-icons" ng-click="addItem(copies, copy); copy='';">send</i>
        </form>
    </header>

    <table class="md-table">
        <thead>
            <tr>
                <th>Record ID</th>
                <th>Copy Index</th>
                <th>Copy Name</th>
                <th>Record Added Since</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="copy in copies">
                <td>{{ copy._id }}</td>
                <td>{{ $index + 1 }}</td>
                <td>{{ findItem(books, copy.bookId).name }}</td>
                <td>{{ copy.createdAt }}</td>
            </tr>
        </tbody>
    </table>
</div>
